server:
  port: 8081

spring:
  application:
    name: vebinar-audit-system

  devtools:
    restart:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui