server:
  port: 8080

spring:
  application:
    name: vebinar-payment-system

  devtools:
    restart:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false